{% extends 'base.html.j2' %}
{%block css%}
 <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{%endblock%}

{% block title %}
Welcome To My Site!
click on the "pokemon" tab to search for your favorite pokimon!
{% endblock %}

{% block content %}
<h1> Welcome To My Site! </h1>
<h6> click on "pokemon" tab to search for your favorite pokimon! </h6>
{% endblock %}