{% extends 'base.html.j2'%}
{%block title %}
Login
{% endblock %}


{% block content %}
<small style="color:red;">{{error}} </small>
<form action="{{url_for('login')}}" method="POST">
{{ form.hidden_tag() }}

{{ form.email.label(class="form-label") }}
{{ form.email(class="form-control")}}
{% for error in form.email.errors %}
<small style="color:red;">{{error}}</small>
{% endfor %}
{{form.password.label(class="form-label")}}
{{form.password(class="form-control")}}
{% for error in form.email.errors %}
<small style="color:red;">{{error}}</small>
{% endfor %}
<br>
{{form.submit(class="btn btn-primary form-control")}}

{% endblock %}