{% extends 'base.html.j2'%}
{%block css%}
 <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
{%endblock%}

{% block title %}
Register
{% endblock %}

{% block content%}
<h1>
{% if current_user.is_authenticated%}
    Edit Profiile
{% else %}
    Register
{% endif %}
</h1>

<small style="color:red;">{{error}}</small>
<form action="{{url_for('auth.edit_profile') if current_user.is_authenticated else url_for('auth.register')}}" method="POST">
{{ form.hidden_tag() }}

{# first #}
{{form.first_name.label(class="form-label")}}
{{form.first_name(class="form-control", value=current_user.first_name)}}

{# last name #}
{{form.last_name.label(class="form-label")}}
{{form.last_name(class="form-control", value=current_user.last_name)}}

{# email #}
{{form.email.label(class="form-label")}}
{{form.email(class="form-control", value=current_user.email)}}
{# email error #}
{% for error in form.email.errors %}
    <small style="color:red;">{{error}}</small><br>
{% endfor %}

{# password #}
{{form.password.label(class="form-label")}}
{{form.password(class="form-control")}}

{# confirm password #}
{{form.confirm_password.label(class="form-label")}}
{{form.confirm_password(class="form-control")}}

{# password error #}
{% for error in form.password.errors %}
    <small style="color:red;">{{error}}</small><br>
{% endfor %}

{# submit button #}
{{form.submit(class='btn btn-primary')}}

</form>
{% endblock %}
